<nav class="text-sm text-gray-600 mb-6" aria-label="Breadcrumb">
  <ol class="flex items-center space-x-2">
    <li>
      <%= link_to root_path, class: "flex items-center hover:text-blue-600" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l9-9 9 9M4 10v10h16V10" />
        </svg>
        Início
      <% end %>
    </li>

    <% if defined?(trail) && trail.present? %>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
      </li>
      <li>
        <%= link_to "Trilhas", trails_path, class: "hover:text-blue-600" %>
      </li>

      <li>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
      </li>

      <li>
        <%= link_to trail.title, trail_path(trail), class: "hover:text-blue-600" %>
      </li>
    <% end %>

    <% if defined?(lesson) && lesson.present? %>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
      </li>

      <li class="text-gray-700"><%= lesson.title %></li>
    <% end %>
  </ol>
</nav>
