<div id="<%= dom_id trail %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= trail.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= trail.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= trail.user_id %>
  </div>
</div>
